 **Household Power Consumption Dataset**

**Data Description**
This dataset contains measurements of household power consumption recorded over time, focusing on energy usage to predict future consumption patterns.

**Column Descriptions:**
**Date:** The date of the measurement in the format DD/MM/YYYY.  
**Time:** The time of the measurement in the format HH:MM:SS.  
**Global_active_power:** The total active power consumed by the household, measured in kilowatts (kW).  
**Global_reactive_power:** The total reactive power, which represents the power that does no useful work, measured in kilovolt-amperes reactive (kVAR).  
**Voltage:** The electrical potential measured at the household, in volts (V).  
**Global_intensity:** The overall current intensity flowing in the household, measured in amperes (A).  
**Sub_metering_1:** The energy consumption for kitchen appliances, measured in watt-hours (Wh).  
**Sub_metering_2:** The energy consumption for laundry appliances, measured in watt-hours (Wh).  
**Sub_metering_3:** The energy consumption for other appliances (like air conditioning), measured in watt-hours (Wh).

**Importing NumPy and Pandas is essential for efficient numerical computations and data manipulation, enabling seamless handling and analysis of large datasets in Python.**

In [46]:
import pandas as pd
import numpy as np

**Loading data and seperaating it with colon for easy understanding**

In [47]:
df = pd.read_csv('household_power_consumption.txt',sep=";")

C:\Users\akans\AppData\Local\Temp\ipykernel_22408\2627499304.py:1: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('household_power_consumption.txt',sep=";")

**Shape tells about the dataset size which contains 2075259 rows and 9 columns**

In [49]:
df.shape

(2075259, 9)

**head() shows first 5 rows of the dataset**

In [50]:
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

**tail() shows last 5 rows of the dataset**

In [51]:
df.tail()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
2075254,26/11/2010,20:58:00,0.946,0.0,240.43,4.0,0.0,0.0,0.0
2075255,26/11/2010,20:59:00,0.944,0.0,240.0,4.0,0.0,0.0,0.0
2075256,26/11/2010,21:00:00,0.938,0.0,239.82,3.8,0.0,0.0,0.0
2075257,26/11/2010,21:01:00,0.934,0.0,239.7,3.8,0.0,0.0,0.0
2075258,26/11/2010,21:02:00,0.932,0.0,239.55,3.8,0.0,0.0,0.0

**`describe()` gives a statistical summary for numerical columns: count, mean, min, max, std deviation**

In [52]:
df.describe()

       Sub_metering_3
count    2.049280e+06
mean     6.458447e+00
std      8.437154e+00
min      0.000000e+00
25%      0.000000e+00
50%      1.000000e+00
75%      1.700000e+01
max      3.100000e+01

**The `df.info()` method provides a concise summary of a DataFrame, including the number of entries, column data types, and the presence of any missing values**

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   object
 1   Time                   object
 2   Global_active_power    object
 3   Global_reactive_power  object
 4   Voltage                object
 5   Global_intensity       object
 6   Sub_metering_1         object
 7   Sub_metering_2         object
 8   Sub_metering_3         float64
dtypes: float64(1), object(8)
memory usage: 142.5+ MB

**`describe(include=object)`gives information about non-numeric columns, such as counts, unique values,top and frequencies**

In [54]:
df.describe(include = object)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2
count,2075259,2075259,2075259,2075259,2075259,2075259,2075259,2075259
unique,1442,1440,6534,896,5168,377,153,145
top,6/12/2008,17:24:00,?,0.000,?,1.000,0.000,0.000
freq,1440,1442,25979,472786,25979,169406,1840611,1408274

**`df.isnull().any()`checks for the presence of any missing values in each column of the DataFrame**

In [55]:
df.isnull().any()

Date                     False
Time                     False
Global_active_power      False
Global_reactive_power    False
Voltage                  False
Global_intensity         False
Sub_metering_1           False
Sub_metering_2           False
Sub_metering_3            True
dtype: bool

**`df.isnull().sum()`calculates the total number of missing values in each column.**

In [56]:
df.isnull().sum()

Date                         0
Time                         0
Global_active_power          0
Global_reactive_power        0
Voltage                      0
Global_intensity             0
Sub_metering_1               0
Sub_metering_2               0
Sub_metering_3           25979
dtype: int64

**To know the null percentage**

In [57]:
null_percentage = (df.isnull().sum() / len(df)) * 100
print(null_percentage)

Date                     0.000000
Time                     0.000000
Global_active_power      0.000000
Global_reactive_power    0.000000
Voltage                  0.000000
Global_intensity         0.000000
Sub_metering_1           0.000000
Sub_metering_2           0.000000
Sub_metering_3           1.251844
dtype: float64

**``nunique()`` returns the number of unique values in each column**

In [58]:
 #to find the number of unique values in each column
unique_counts = df.nunique()
print("Number of unique values in each column:")
print(unique_counts)

Number of unique values in each column:
Date                     1442
Time                     1440
Global_active_power      6534
Global_reactive_power     896
Voltage                  5168
Global_intensity          377
Sub_metering_1            153
Sub_metering_2            145
Sub_metering_3             32
dtype: int64

**The `dropna()` function removes all rows from the DataFrame that contain any null values, resulting in a cleaned dataset without missing data**

In [59]:
df_cleaned = df.dropna()
print("DataFrame after removing rows with null values:")
print(df_cleaned)

DataFrame after removing rows with null values:
               Date      Time Global_active_power Global_reactive_power  \
0        16/12/2006  17:24:00               4.216                 0.418
1        16/12/2006  17:25:00               5.360                 0.436
2        16/12/2006  17:26:00               5.374                 0.498
3        16/12/2006  17:27:00               5.388                 0.502
4        16/12/2006  17:28:00               3.666                 0.528
...             ...       ...                 ...                   ...
2075254  26/11/2010  20:58:00               0.946                   0.0
2075255  26/11/2010  20:59:00               0.944                   0.0
2075256  26/11/2010  21:00:00               0.938                   0.0
2075257  26/11/2010  21:01:00               0.934                   0.0
2075258  26/11/2010  21:02:00               0.932                   0.0

         Voltage Global_intensity Sub_metering_1 Sub_metering_2  \
0        234.840           18.400          0.000          1.000
1        233.630           23.000          0.000          1.000
2        233.290           23.000          0.000          2.000
3        233.740           23.000          0.000          1.000
4        235.680           15.800          0.000          1.000
...          ...              ...            ...            ...
2075254   240.43              4.0            0.0            0.0
2075255    240.0              4.0            0.0            0.0
2075256   239.82              3.8            0.0            0.0
2075257    239.7              3.8            0.0            0.0
2075258   239.55              3.8            0.0            0.0

         Sub_metering_3
0                  17.0
1                  16.0
2                  17.0
3                  17.0
4                  17.0
...                 ...
2075254             0.0
2075255             0.0
2075256             0.0
2075257             0.0
2075258             0.0

[2049280 rows x 9 columns]

**The ``convert_dtypes()`` function automatically infers and converts the data types of DataFrame columns to the most appropriate dtypes (e.g., strings, integers, or floats)**

In [60]:
df_converted = df.convert_dtypes()
print(df_converted.dtypes)

Date                     string[python]
Time                     string[python]
Global_active_power              object
Global_reactive_power            object
Voltage                          object
Global_intensity                 object
Sub_metering_1                   object
Sub_metering_2                   object
Sub_metering_3                    Int64
dtype: object

**`apply(pd.to_numeric, errors='coerce')` attempts to convert specified columns to numeric types, coercing any non-numeric values to NaN**

In [61]:
columns_to_convert_ = df.columns.difference(['Date', 'Time']) 
df[columns_to_convert] = df[columns_to_convert].apply(pd.to_numeric, errors='coerce')

In [62]:
print(df.dtypes)

Date                      object
Time                      object
Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
Sub_metering_2           float64
Sub_metering_3           float64
dtype: object

**After converting the relevant columns to float, all columns can be easily described, allowing for straightforward statistical analysis and data insights**

In [63]:
df.describe()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
count,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06
mean,1.091615e+00,1.237145e-01,2.408399e+02,4.627759e+00,1.121923e+00,1.298520e+00,6.458447e+00
std,1.057294e+00,1.127220e-01,3.239987e+00,4.444396e+00,6.153031e+00,5.822026e+00,8.437154e+00
min,7.600000e-02,0.000000e+00,2.232000e+02,2.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.080000e-01,4.800000e-02,2.389900e+02,1.400000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,6.020000e-01,1.000000e-01,2.410100e+02,2.600000e+00,0.000000e+00,0.000000e+00,1.000000e+00
75%,1.528000e+00,1.940000e-01,2.428900e+02,6.400000e+00,0.000000e+00,1.000000e+00,1.700000e+01
max,1.112200e+01,1.390000e+00,2.541500e+02,4.840000e+01,8.800000e+01,8.000000e+01,3.100000e+01

In [64]:
df.shape

(2075259, 9)

**The `df.describe(include='object')` function displays summary statistics for columns of type object, in this case, shows only the "Date" and "Time" columns, as the remaining columns are of type float64**

In [65]:
df.describe(include = object)

             Date      Time
count     2075259   2075259
unique       1442      1440
top     6/12/2008  17:24:00
freq         1440      1442